/* GLOBAL */

:root {
  --left-panel-width: 250px;
  --right-panel-width: 250px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-user-select: none;
}

body {
  margin: 0;
  overflow: hidden;
  font: normal 14px / 1.6 sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

canvas {
  image-rendering: pixelated;
}

#mappo {
  display: flex;
  height: 100vh;
}

/* PANELS */

.left-panel {
  flex: 0 0 var(--left-panel-width);
  overflow: hidden;
  overflow-y: auto;
}

.middle-panel {
  width: calc(100% - var(--right-panel-width) - var(--left-panel-width));
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 0 0 var(--right-panel-width);
}

.left-panel,
.right-panel {
  padding: 5px;
}

/* PADDED LIST */

.padded-list-header {
  padding: 0 15px;
}

.padded-list {
  list-style-type: none;
  margin: 0;
  padding: 5px;
}

.padded-list li {
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding: 2px 10px;
}

.padded-list li:hover {
  background: silver;
}

/* VIEWPORT */

.mappo-viewport {
  cursor: default;
}

/* LAYER LIST */

.layer-list-container {
  flex: 0 0 var(--right-panel-width);
}

.layer-list .layer-list-item {
  position: relative;
  padding-left: 35px;
}

.layer-list-item::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 35px;
  height: 25px;
  background: url(icon-eye.svg) 5px center no-repeat;
}

.is-layer-hidden::before {
  opacity: .25;
}

/* TILESET */

.tileset-container {
  display: flex;
  flex-direction: column;
  flex: 1 0;
  max-width: var(--right-panel-width);
}

.tileset-header {
  padding: 0 15px;
}

.tileset-canvas-container {
  flex: 1 0;
  overflow-y: scroll;
}
